@page "/todo"
@using AspireWebApp.Web.Helpers
@using global::Todo.Application.DTOs
@attribute [StreamRendering(true)]
@attribute [OutputCache(Duration = 5)]

@inject TodoApiClient TodoApiClient
<h3>Todo</h3>

@if (todoLists == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Items</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var todoList in todoLists)
            {
                <tr>
                    <td>@todoList.Title</td>
                    <td>@todoList.Items.Count</td>
                    <td><a class="btn btn-primary" href="@ItemHelper.TodoListUrl(todoList)">View</a></td>
                </tr>
            }
        </tbody>
    </table>

}

@code {

    private TodoListDto[]? todoLists;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var enumerable = await TodoApiClient.GetTodoListsAsync();

            todoLists = enumerable.ToArray();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }

    }
}
