@page "/"
@using EventBus.Events
@using MassTransit
@inject CounterState CounterState
@inject IBus Bus

@rendermode InteractiveServer
<PageTitle>Home</PageTitle>
<h1>Hello, world!</h1>
<p>Current count: @CounterState.Count</p>

Welcome to your new app.
<button class="btn btn-primary mt-4" @onclick="DispatchMessage">Publish Hello, world!</button>

@code {
    private async Task DispatchMessage()
    {
        Console.WriteLine("Message published");

        await Bus.Publish(new IntegrationEvent
            {   
                Message = "Hello, world!"
            });

    }
}