@rendermode InteractiveServer
@inject CounterState CounterState
@implements IDisposable
@inherits ComponentBase

<p role="status">Current count: @CounterState.Count</p>

@code {
    protected override void OnInitialized()
    {
        CounterState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CounterState.OnChange -= StateHasChanged;
    }
}
