@inherits LayoutComponentBase
@rendermode InteractiveServer
<Toast/>

<MudThemeProvider />
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
@* <MudSnackbarProvider /> *@

<MudThemeProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
        <MudText Typo="Typo.h5" Class="ml-3">Aspire Web App</MudText>
        <MudSpacer />
        <CounterCount /> // <PomodoroStateTimer ShowSession="true" />
        @* <MudIconButton Icon="@Icons.Material.Filled.MoreVert" Color="Color.Inherit" Edge="Edge.End" /> *@
    </MudAppBar>
    <MudDrawer @bind-Open="_open" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    [CascadingParameter] AppState AppState { get; set; }

    protected override async void OnInitialized()
    {
        await base.OnInitializedAsync();

    }

    private bool _open = true;

    private void ToggleDrawer()
    {
        _open = !_open;
    }
}