@page "/counter"
@rendermode InteractiveServer
@inject CounterState CounterState
@implements IDisposable
@inherits ComponentBase
@* @inject ICounterNotificationService CounterNotificationService *@

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @CounterState.Count</p>
<CounterCount />
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private void IncrementCount()
    {
        CounterState.IncrementCount();
        // _ = CounterNotificationService.SendCounterIncrementedEvent();
    }

    protected override void OnInitialized()
    {
        CounterState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CounterState.OnChange -= StateHasChanged;
    }
}